:root {
    --clr-beige-400: #FBE5D6;
    --clr-beige-500: #FFE9E7;

    --clr-neutral-300: #F5F5F5;
    --clr-neutral-400: #404040;
    --clr-neutral-500: #595959;
    --clr-neutral-600: #D9D9D9;
    --clr-neutral-700: #A1A1A1;

    --fs-200: .75rem;
    --fs-300: .875rem;
    --fs-400: 1rem;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    list-style-type: none;
}

button {
    background: transparent;
    border: none;
}

body {
    font-size: 16px;
    font-family: "Calibri", sans-serif;
    color: var(--clr-neutral-400);
    display: flex;
    flex-direction: column;
    font-weight: 400;
}

/* wrapper */
.wrapper {
    padding: 0 34px;
}

@media screen and (max-width: 900px) {
    .header.wrapper {
        padding: 12px 18px;
    }
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 99;
}

.header--active {
    background: var(--clr-neutral-300);
}

@media screen and (max-width: 900px) {
    .header {
        position: fixed;
        left: 0;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .header-nav {
        display: none;
    }
}

.header__title {
    text-transform: uppercase;
    position: relative;
}

.header-nav {
    
}

.header-nav__list {
    display: flex;
    gap: 16px;
    /* padding: 10px 0; */
}

.header-nav__item {
    padding: 11px 0;
}

.header-nav__link {
    text-transform: uppercase;
    font-size: var(--fs-200);
}

.header-nav__item--dropdown-toggle:hover .shop-nav {
    height: auto;
    opacity: 1;
    background: rgba(255, 255, 255, 0.95);
    pointer-events: auto;
}

.shop-nav {
    width: 100%;
    top: 0;
    left: 0;
    padding: 80px 0px 34px 34px;
    position: absolute;
    box-shadow: 0 0 3px var(--clr-neutral-300);
    background: var(--clr-neutral-100);
    z-index: -1;
    opacity: 0;
    height: 0px;
    overflow: hidden;
    transition: all .2s linear;
    pointer-events: none;
    display: flex;
    gap: 80px;
}

.header-nav__link:hover {
    font-weight: bold;
}

.header__additional-nav {
    font-size: var(--fs-200);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 16px;
}

@media screen and (max-width: 900px) {
    .header__additional-nav {
        display: none;
    }
}

/* input */
.primary-input {
    min-width: 200px;
    text-transform: uppercase;
    border: none;
    border-bottom: 1px solid var(--clr-neutral-600);
    text-align: end;
    transition: border .3s linear;
}

.primary-input::placeholder {
    color: var(--clr-neutral-400);
}

.primary-input:focus {
    border-bottom: 1px solid var(--clr-neutral-500);
    outline: none;
}

/* mobile nav */
.mobile-nav {
    top: 0;
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--clr-neutral-300);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    padding-top: 78px;
    padding-bottom: 50px;
    transition: left .3s linear;
    z-index: 99;
    overflow-y: auto;
}

.mobile-nav--active {
    left: 0;
}

.mobile-nav__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.mobile-nav__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.mobile-nav__item {
}
.mobile-nav__link {
    text-transform: uppercase;
    font-size: var(--fs-400);
    display: block;
    /* height: 10px; */
}

.mobile-nav__link:hover {
    font-weight: bold;
}

.mobile-nav__list--sm {
    gap: 24px;
}

.mobile-nav__list--sm .mobile-nav__link {
    font-size: var(--fs-200);
}

.mobile-nav-toggle {
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 900px) {
    .mobile-nav-toggle {
        display: block;
    }
}

.mobile-subnav-wrapper {
    top: 0;
    position: fixed;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--clr-neutral-300);
    display: flex;
    flex-direction: column;
    padding-top: 78px;
    padding-bottom: 50px;
    transition: left .3s linear;
    z-index: 100;
    padding: 68px 18px;
    overflow-y: auto;
}

.mobile-subnav__close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

.mobile-subnav-wrapper--active {
    left: 0;
}

.mobile-subnav__title {
    font-weight: 700;
    font-size: var(--fs-400);
    margin-bottom: 40px;
}

.mobile-subnav__list {
}
.mobile-subnav__item {
    margin-bottom: 24px;
}
.subnav__link {
    font-weight: 700;
    font-size: var(--fs-300);
    text-transform: uppercase;
    margin-left: 16px;
    position: relative;
    margin-bottom: 12px;
    display: block;
}

.subnav__link::before {
    content: '';
    left: -16px;
    width: 8px;
    height: 2px;
    border-radius: 9px;
    background: var(--clr-neutral-600);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.subnav__link:hover {
    font-weight: 700;
}

.subnav__sublist {
    margin-left: 22px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.mobile-subnav__subitem {
}
.mobile-subnav__sublink {
    display: block;
}

.mobile-subnav__sublink:hover {
    font-weight: 700;
}

.mobile-subnav__sublink--heading {
    font-size: var(--fs-300);
    color: var(--clr-neutral-700);
    margin-bottom: 4px;
}

/* footer */
.footer {
    margin-top: auto;
}

/* slider */
.swiper {
    width: calc(100% - 68px);
    max-height: 1012px;
    border-radius: 12px;
    position: relative;
}

.swiper-wrapper {
    position: relative;
}

.swiper-scrollbar {
    display: none;
}

.swiper-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clr-neutral-500);
    padding: 9px;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.swiper-button:hover {
    background: var(--clr-neutral-500);
}

.swiper-button-prev {
    left: 34px;
    border-radius: 4px;
    height: auto;
    width: auto;
}

.swiper-button:hover svg path {
    stroke: #fff;
    transition: all .3s linear;
}

.swiper-button::after {
    display: none;
}

.swiper-button-next {
    right: 34px;
}

.swiper-slide img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: 80%;
}

@media screen and (max-width: 900px) {
    .swiper {
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
    }
    .swiper-slide {
        width: 100%;
        height: 100vh;
    }
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
    .swiper-slide picture img {
        object-position: top center;
        object-fit: cover;
        height: 100%;
    }
    .swiper-slide img {
        object-position: center;
        object-fit: cover;
        height: 100vh;
        display: block;
    }
}

/* phone button */
.floating-action-button {
    position: fixed;
    z-index: 99;
    width: 64px;
    height: 64px;
    background: white;
    display: none;
    align-items: center;
    justify-content: center;
    bottom: 90px;
    right: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.floating-action-button svg {
    width: 30px;
    height: 30px;
    display: block;
}

@media  screen and (max-width: 900px) {
    .floating-action-button {
        display: flex;
    }
}

/* footer */

.footer {
    margin-inline: auto;
    padding-block: 19px;
}

@media screen and (max-width: 900px) {
    .footer {
        display: none;
    }
}

.footer-nav {
}
.footer-nav__list {
    display: flex;
    gap: 24px;
}
.footer-nav__item {
}

.footer-nav__link {
    padding: 7px 0;
    font-size: var(--fs-200);
    text-transform: uppercase;
}

.footer-nav__link--active {
    border-bottom: 1px solid var(--clr-neutral-600);
    font-weight: 700;
}

.footer-nav__link:hover {
    font-weight: 700;
}

/* balaclavs */
.breadcrumb {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
}

.breadcrumb.wrapper {
    padding: 12px 34px;
}

.breadcrumb__divider {
    width: 16px;
    height: 1px;
    background: var(--clr-neutral-700);
}

.breadcrumb__item {
    padding: 9.5px 0;
    text-transform: uppercase;
    color: var(--clr-neutral-400);
    font-weight: 100;
}

@media screen and (max-width: 900px) {
    .breadcrumb {
        margin-top: 50px;
    }
    .breadcrumb__item {
        font-size: var(--fs-200);
    }
}

/* balaclav section */
.balaclavs {
}
.balaclavs-card-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 58.4px;
}

@media screen and (max-width: 1700px) {
    .balaclavs-card-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1200px) {
    .balaclavs-card-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .balaclavs-card-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.balaclav-card {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.balaclav-card__img-wrapper {
    
}
.balaclav-card__img {
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
.balaclav-card__colors-wrapper {
    display: flex;
    justify-content: space-between;
}
.balaclav-card__colors {
    display: flex;
    gap: 4px;
}
.balaclav-card__color {
    width: 24px;
    height: 24px;
    display: block;
    border-radius: 2px;
}

.balaclav-card__color--dark {
    background: var(--clr-neutral-500);
}

.balaclav-card__color--beige {
    background: var(--clr-beige-400);
}

.balaclav-card__color--light-beige {
    background: var(--clr-beige-500);
}


.balaclav-card__price {
}